<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timestamp Microservice</title>
    <link rel="shortcut icon" href="favicon/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1>Timestamp Microservice</h1>
    </header>

    <main class="container">
      <section class="description">
        <p>
          This Node.js application provides a simple API for converting dates
          and timestamps.
        </p>
      </section>

      <section class="example-usage">
        <h2>Example Usage</h2>
        <ul>
          <li>
            <a href="api/2024-11-02">
              https://timestamp.up.railway.app/api/2024-11-02
            </a>
          </li>
          <li>
            <a href="api/1730505600000">
              https://timestamp.up.railway.app/api/1730505600000
            </a>
          </li>
        </ul>
      </section>

      <section class="output-example">
        <h2>Example Output</h2>
        <pre>
        <code>
          {
            "unix": 1730505600000,
            "utc": "Sat, 02 Nov 2024 00:00:00 GMT"
          }
        </code>
      </pre>
      </section>

      <section class="instructions">
        <h3>What it does:</h3>
        <ul>
          <li>
            Converts a valid date string to both Unix timestamp (milliseconds
            since epoch) and UTC format (e.g., "Thu, 01 Jan 1970 00:00:00 GMT").
          </li>
          <li>
            Handles Unix timestamps directly, returning the equivalent date in
            both formats.
          </li>
          <li>
            Returns the current date and time in both formats if no date is
            provided.
          </li>
        </ul>
      </section>
    </main>

    <footer>
      <p>By <a href="https://shariq-dev.netlify.app">Shariq Yousuf</a></p>
    </footer>
  </body>
</html>
